/* static/styles.css */

body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffae45;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    border: 1px solid #ffae45;
    padding: 10px;
    margin: 10px;
    width: 300px;
    background-color: #ffffff;
}

form {
    max-width: 500px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #ffffff;
    color: #121212;
    padding: 10px;
    border: none;
    cursor: pointer;
}

a {
    color: #ffae45;
    text-decoration: none;
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
}
