{% extends 'layout.html' %}

{% block content %}
<section class="header">
    <h1>Jorge Grajeda</h1>
    <p>Python Software Developer Student</p>
    <img src="static/profile.jpg" alt="Headshot of Myself"> 
</section>
<section id="about-page">
    <div id="triangle7"></div>
    <div id="triangle8"></div>
    <h2>About</h2>
    <p>
    My name is Jorge grajeda, I am a University student studying Environmental Design with a concentration in Design Technology, I enjoy hanging out with my family & friends, playing the piano, going on runs, cooking and traveling. 
    I am a Python Developer and I am dedicated to being in a dynamic world where it is possible to push the boundaries of creativity and problem solving.
    I began learning the Python coding language after taking a Computer Science course in Middle School and was determined to learn more about Technology.
    Passionatly and creatively, I strive to complete tasks in a effecient and thorough manner with positive team collaboration, excellent communication, and innovative problem solving skills in order to satisfy the needs of a team or clientele.
    Through this digital platform I hope that my expierences and skills within the Python Coding Language can provide those valuable insights to my audience.
    </p>
    <a href="https://www.linkedin.com/in/jorge-grajeda-501935268/" target="_blank"><i class="far fa-file"></i>Resume</a>
    <a href="https://teamtreehouse.com" target="_blank"><i class="far fa-file"></i>Education</a>

</section>
{% endblock %} 
