{% extends 'layout.html' %}

{% block content %}
<section class="header">
    <h1>Edit Project</h1>
</section>
<section id="form">
    <form action="{{ url_for('edit_project', id=project.id) }}" method="POST">
        <label for="title">Project Title</label>
        <input type="text" name="title" id="title" value="{{ project.title }}" required>
        
        <label for="date">Completion Date</label>
        <input type="month" name="date" id="date" value="{{ project.date.strftime('%Y-%m') }}" required>
        
        <label for="description">Description</label>
        <textarea name="description" id="description" required>{{ project.description }}</textarea>
        
        <label for="skills">Skills</label>
        <textarea name="skills" id="skills" required>{{ project.skills }}</textarea>
        
        <label for="github">GitHub Link</label>
        <input type="url" name="github" id="github" value="{{ project.repo_link }}" required>
        
        <div>
            <button type="reset">Cancel</button>
            <button type="submit">Submit</button>
        </div>
    </form>
</section>
{% endblock %}
